@tailwind base;
@tailwind components;
@tailwind utilities;

.iteminvisible {
    flex: 0 1 auto;
    width: 25vw;
    /* height: 100px; */
    visibility: hidden;
  }

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    /* width: 5vw; */
    height: 30vh;
    /* padding: 0 5px; */
    /* margin: 0 50%; */
}